header {
    height: 100px;
    background-color: rgb(97, 97, 104);
    position: relative;
}

main {
    background-color: blue;
}



#logo {
    height: 50px;
    position: absolute;
    left: 0%;
    bottom: 0%;
}