header {
    height: 100px;
    position: relative;
    background-image: url("../img/pattern.png"); 
    background-size: contain;
    background-color: rgb(118 155 241)
   
}

main {
    background-color: white;
}

#logo {
    height: 50px;
    position: absolute;
    left: 5px;
    bottom: 10px;
}

#int {
    font-size: 20px;
}

#blue {
    color: rgb(118 155 241);
}