body {
    margin: auto;
    position: relative;
}

header {
    height: 100px;
    position: relative;
    background-image: url("../img/pattern.png"); 
    background-position: top;
    background-size: 20%;
    background-color: rgb(118 155 241)
}

main {
    position: absolute;
    left: 22%;
    width: 55%;
}

h1 {
    font-size: 40px;
}

#logo {
    height: 50px;
    position: absolute;
    left: 5px;
    bottom: 10px;
}

#written-by {
    font-size: 20px;
}

#blue {
    color: rgb(118 155 241);
}

.highlight {
    background-color: yellow;
}

#grey {
    color: gray;
    font-size: 20px;
    font-weight: bold;
}

table {
    border-spacing: 0px;
}

.table-description {
    width: 50%;
}

#first-row {
    background-color: rgb(64 117 223);
    color: white;
}

.dark-row {
    background-color: rgb(150, 181, 241);
}

.light-row {
    background-color: rgb(217 234 252);
}

.container {
    position: relative;
}

.lorem {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}